/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}



#main {
    width: 960px;
    background-color: #777;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px
    text-align: center;
    background: #ebebeb;
}

header {
    background:#ebebeb;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

nav { 
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* section*/
.one { 
    background: #ebebeb;
    width: 370px;
    float: left;
    height: 280px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10.5%;
}

/* article */

#article {color: #ebebeb}

.two {
    background-color: #777;
    width: 90%;
    float: left;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 40px;
    height: 195px;
    
}

/* h1,2,3 */

.three {
    background: #ebebeb;
    width: 90%;
    height: 50px;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 9%;
}

/* paragraph */

.four { 
    background: #ebebeb;
    width: 90%;
    height: 50px;    
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15px;
    margin-bottom: auto;
    
}

aside { 
    background: #ebebeb;
    width: 370px;
    float: right;
    height: 280px;
    margin-bottom: 10px;
    margin-right: 10.5%;
}

footer {
    background: #ebebeb;
    clear: both;
    padding: 30px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}